name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build
      - uses: actions/upload-artifact@v2
        with:
          name: Package
          path: |
            **/SkyChanger-Bukkit/build/libs
            **/SkyChanger-Sponge/build/libs